:root {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
    background-color: rgb(93, 87, 91);
}

body {
    margin: auto 0;
    height: 100%;
}

header {
    padding: 2rem;
}

.render-list {
    display: grid;
    grid-template-columns: repeat(1,auto);
    justify-content: center;
    align-items: center;
    grid-gap: 1.2rem;
    list-style-type: none;
    padding-inline-start: 0px;
    margin-block-start: 0;
    margin-block-end: 0;
}

.render-list img {
    border-radius: .3rem;
    width: 230px;
    height: 230px;
}

.render-list img:hover {
    transform: scale(1.1);
}

.search-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 10rem;
    margin: 0 auto;
}

label {
    display: none;
}

.input_field {
    margin: 1rem;
    height: 1.3rem;
    border-radius: .3rem;
    border: 0;
    padding: 0;
    text-align: center;
    background-color: #F3F3FE;
}

.search-bar {
    background-size: .3rem;
}

.hero {
background-color: blanchedalmond;
}