:root {
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
    box-sizing: border-box;
    background-color: rgb(246, 220, 245);
}

body {
    margin: auto 0;
    height: 100%;
}

header {
    padding: 2rem;
}

.render-list {
    display: grid;
    grid-template-columns: repeat(1,auto);
    justify-content: center;
    align-items: center;
    grid-gap: 1.2rem;
    list-style-type: none;
    padding-inline-start: 0px;
    margin-block-start: 0;
    margin-block-end: 0;
}

.render-list img {
    border-radius: 5px;
    display: block;
    width: 100%;
}

.render-list img:hover {
    transform: scale(1.1);
}

.search-bar {
    display: flex;
    flex-direction: column;
    width: 10rem;
    margin: 0 auto;
}

label {
    display: none;
}




