:root {
    margin: 0 auto;
    max-width: 760px;
    text-align: center;
    box-sizing: border-box
}
body {
    margin: auto 0;
    height: 100%;
}

.render-list {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    padding-inline-start: 0px;
    grid-gap: 1rem;
    margin-block-start: 0;
    margin-block-end: 0;
}

.photo-style > img {
    width: 100%;
    display: block;
}

.search-bar {
    display: flex;
    flex-direction: column;
    width: 10rem;
    margin: 0 auto;
}