body {
    margin: 0 auto;
    max-width: 760px;
    text-align: center;
}

ul {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    padding-inline-start: 0px;
    gap: 1rem;
}

.test > img {
    width: 100%;
    display: block;
  }

label {
    display: none;
}
  


